*.swp
.ipynb_checkpoints
**/glove.6B.*d.txt
Coursera/Transformer/model/**/tf_model.h5
**/*cache*
**/XY_dev
**/XY_train
**/__pycache__/
**/logs/
**/.~lock*
ZTM/data/bluebook-for-bulldozers/
ZTM/data/dog-breed-identification/
ZTM/models/