*.swp
.ipynb_checkpoints
**/glove.6B.50d.txt
**/glove.6B.100d.txt
Coursera/NameEntityRecognition/model/tf_model.h5
**/XY_dev
**/XY_train
**/__pycache__/
**/logs/
**/.~lock*
ZTM/data/bluebook-for-bulldozers/
ZTM/data/dog-breed-identification/