[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbconvert = "*"
papermill = "*"
ipython-sql = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
