[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbconvert = "*"
papermill = "*"
ipython-sql = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
keras-preprocessing = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}
tabulate = "*"
ipywidgets = "*"
tensorflow-hub = "*"
tf-keras = "*"
music21 = "*"
mido = "*"
pydub = "*"
audioop-lts = "*"
tqdm = "*"
emoji = "*"
faker = "*"
babel = "*"
seqeval = "*"
transformers = "*"
datasets = "*"
nltk = "*"
sentencepiece = "*"
moviepy = "*"
gdown = "*"
torch = "*"
torchvision = "*"
biopython = "*"
py3dmol = "*"
opencv-python = "*"
nibabel = "*"
itk = "*"
itkwidgets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
